VITE_GLPI_API_BASE_URL=/glpi-api
GLPI_PROXY_TARGET=http://glpi.localhost
GLPI_API_PATH=/api.php/v2.3

VITE_GLPI_OAUTH_TOKEN_URL=/glpi-api/token
VITE_GLPI_OAUTH_AUTHORIZE_URL=http://glpi.localhost/front/oauth2/authorize.php
VITE_GLPI_OAUTH_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_GLPI_OAUTH_CLIENT_ID=ton_client_id
VITE_GLPI_OAUTH_CLIENT_SECRET=ton_client_secret
VITE_GLPI_OAUTH_USERNAME=glpi
VITE_GLPI_OAUTH_PASSWORD=glpi
VITE_GLPI_OAUTH_SCOPE=api user email status

VITE_MODE_DEBUG=false

VITE_GLPI_API_BASE_URL=/glpi-api
GLPI_PROXY_TARGET=http://glpi.localhost
GLPI_API_PATH=/api.php/v2.3

VITE_GLPI_LEGACY_API_BASE_URL=/glpi-legacy-api
GLPI_LEGACY_API_PATH=/apirest.php
VITE_GLPI_LEGACY_APP_TOKEN=ton_app_token
VITE_GLPI_LEGACY_USER_TOKEN=ton_user_token