VITE_GLPI_API_BASE_URL=http://localhost/glpi/api.php
VITE_GLPI_OAUTH_AUTHORIZE_URL=http://localhost/glpi/front/oauth2/authorize.php
VITE_GLPI_OAUTH_TOKEN_URL=http://localhost/glpi/api.php/token
VITE_GLPI_OAUTH_CLIENT_ID=replace_with_client_id
VITE_GLPI_OAUTH_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_GLPI_OAUTH_SCOPE=api inventory status user email
