# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

utilitaire/**
!utilitaire/documentation/
!utilitaire/documentation/**
!utilitaire/modelAPIV2.json

prestashop-new-app
data/*.sqlite
data/*.db