@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", "Segoe UI", sans-serif;
}

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    @apply min-h-screen bg-slate-100 text-slate-700 antialiased;
  }

  * {
    box-sizing: border-box;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea,
  select {
    @apply outline-none;
  }
}
